#state表示当前区域的有效性： 1 表示启用，0不启用;如果为0，那么将会忽略此区域


#service.off 和 service.on 为固定标签;label也为固定，辅助解析
[service]
    [service.off]
    state = 1
    label = "off"
    name = [
        "cups.path",
        "cups.service",
        "abrt-ccpp.service",
        "abrt-oops.service",
        "abrt-vmcore.service",
        "abrtd.service",
        "abrtd-xorg.service",
        "avahi-daemon.service",
        "bluetooth.service",
        "chronyd.service",
        "dbus-org.bluez.service",
        "dbus-org.freedesktop.Avahi.service",
        "dbus-org.freedesktop.ModemManager1.servic",
        "display-manager.service",
        "dmraid-activation.service",
        "gdm.service",
        "iscsi-onboot.service",
        "iscsi.service",
        "ksm.service",
        "ksmtuned.service",
        "lvm2-monitor.service",
        "mdmonitor.service",
        "ModemManager.service",
        "postfix.service",
        "qemu-guest-agent.service",
        "rpcbind.service",
        "tuned.service "
    ]
    [service.on]
    state = 1
    label = "on"
    name = [
        "ntpd.service",
        "iptables.service"
    ]

#label 可以指定版本，如python2时，可以为pip或pip2，python3时为pip3
[package]
    [package.yum]
    state = 1
    label = "yum"
    name = [
        "ntpd"
    ]
    [package.pip]
    state = 1
    label  = "pip3"
    name = [
        "sh"
    ]
     [package.perl]
    state = 1
    label = "perl"
    name = [
        "XML::Parser"
    ]

[directory]
    [directory.export]
    state = 1
    path = "/export"
    mode = 0755
    owner = "root"
    [directory.logs]
    state = 1
    path = "/export/logs"
    mode = 0755
    owner = "root"

#ulimted 参数
[ulimit]
    [ulimit.core]
    state = 1
        [ulimit.core.soft]
        domain = "root"
        type = "soft"
        item = "core"
        value = "unlimited"
        [ulimit.core.hard]
        domain = "root"
        type = "hard"
        item = "core"
        value = "unlimited"
    [ulimit.nofile]
    state = 1
        [ulimit.nofile.soft]
        domain = "root"
        type = "soft"
        item = "nofile"
        value = "65535"
        [ulimit.nofile.hard]
        domain = "root"
        type = "hard"
        item = "nofile"
        value = "65535"
    [ulimit.nproc]
    state = 1
        [ulimit.nproc.soft]
        domain = "zack"
        type = "soft"
        item = "nproc"
        value = "5000"
        [ulimit.nproc.hard]
        domain = "zack"
        type = "hard"
        item = "nproc"
        value = "10000"
 #内核参数
[kernel]
state = 1
    [kernel.msgmnb]
    name = "kernel.msgmnb"
    value = "'65536'"
    [kernel.msgmax]
    name = "kernel.msgmax"
    value = "65536"
    [kernel.shmmax]
    name = "kernel.shmmax"
    value = "268435455999"
    [kernel.shmall]
    name = "kernel.shmall"
    value = "4294967296"
[vm]
state = 1
    [vm.swappiness]
    name = "vm.swappiness"
    value = "0"
[net]
 state = 1
    [net.nf_conntrack_max]
    name = "net.netfilter.nf_conntrack_max"
    value = "6553560"
    [net.somaxconn]
    name = "net.core.somaxconn"
    value = "65535"
    [net.optmem_max]
    name = " net.core.optmem_max"
    value = "81920"
    [net.rmem_max]
    name = "net.core.optmem_max"
    value = "8388608"
    [net.wmem_max]
    name = "net.core.wmem_max"
    value = "8388608"
[fs]
state = 1
    [fs.file-max]
    name = "fs.file-max"
    value = "6553560"
[abi]
state = 0
[crypto]
state = 0
[sunrpc]
state = 0
[user]
satte = 0
    
 
    


